﻿.searchtext {
    
    margin-top: 8px;
    width: 480px;
    height: 200px;
}
.hometoprightbut {
    padding: 3px;
    margin-bottom: 2px;
}
.homeproductssuppbuyersbtn {
    height:50px; width: 80px;
}
.paddingbot
{ padding-bottom: 10px;}

.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 100%;
}

.carousel.vertical .prev {
  top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -100%;
}

.carousel.vertical .active.right {
  top: 100%;
}

.carousel.vertical .item {
    left: 0;
}
.backlighter
{
    background: #FFFFFF;
}